/* Layout */

* {
    box-sizing: border-box;
    margin: 0;
}

.main {
    padding-top: 15px;
}

#header {
    width: 950px;
    height: 145px;
    background-color: #127CC1;
}

#bottom {
    font-size: 14px;
    color: #0f6eac;
    width: 100%;
    border: 1px solid #c7d5dd;
    background-color: #eef2f6;
    padding: 15px;
}

#bottom:after {
    content: "";
    line-height: 0;
    clear: both;
    display: table;
}

#left {
    float: left;
    padding: 0px;
    width: 183px;
    border: 1px solid #E3EAEE;
    margin-left: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#left a {
    line-height: 25px;
    FONT-SIZE: 13px;
}

#left ul {
    padding-left: 0px;
    list-style-type: none;
}

.content {
    background-color: #ffffff;
    padding: 0px;
    margin-left: 250px;
    margin-right: 20px;
    min-height: 500px;
}

.content:after {
    content: "";
    line-height: 0;
    clear: both;
    display: table;
}

body {
    height: 100%;
    margin: auto;
    padding: 15px;
    width: 990px;
    FONT-SIZE: 13px;
    border: 2px solid #E3EAEE;
}

img {
    border: none;
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #690036;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 0;
    color: #1528a0;
}

h2 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #690036;
    font-size: 14px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #A00057;
}

a:link, a:visited {
    color: #304956;
    text-decoration: none;
}

a:link:hover, a:visited:hover {
    color: #6A95A9;
    text-decoration: underline;
}

.hslubutton {
    background: none repeat scroll 0 0 #6A95A9;
    border: 1px solid #304956;
    width: 80px;
}

.hslubutton:hover {
    font-weight: bold;
}

#message_box {
    /*    margin-left: 170px;*/
    border-collapse: collapse;
}

.messages td {
    font-weight: bold;
    font-size: 14px;
    width: 600px;
    padding-left: 50px;
    height: 24px;
}

.messages .infomsg td {
    color: #00529B;
    border-color: #00529B;
    background: url("#{resource['images/info.png']}") no-repeat left center #BDE5F8;

}

.messages .warnmsg td {
    color: #9F6000;
    border-color: #9F6000;
    background: url("#{resource['images/important.png']}") no-repeat left center #FEEFB3;
}

.messages .errormsg td {
    color: #D8000C;
    border: solid thin #D8000C;
    background: url("#{resource['images/stop.png']}") no-repeat left #FFBABA;
}

.transparent {
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    opacity: 0.6;
}

table.accounts {
    width: 100%;
    border-collapse: collapse;
}

table.accounts th,
table.accounts td {
    padding: 5px;
    text-align: left;
    border: 1px solid black;
}

.basketTable {
    width: 100%;
}

.basketTable th:nth-child(1) {
    text-align: left;
}

.basketTable th:nth-child(2), .basketTable th:nth-child(3) {
    text-align: right;
}

.basketTable td:nth-child(1), .basketTable td:nth-child(2) {
    width: 20%;
}

.basketTable td:nth-child(3) {
    width: 10%;
}

.basketTable td:nth-child(2), .basketTable td:last-child {
    text-align: right;
}

.catalogTable {
    width: 100%;
}

.catalogTable td:nth-child(1) {
    width: 30%;
}

.catalogTable td:nth-child(2) {
    width: 40%;
}

.catalogTable td:nth-child(3) {
    width: 20%;
}

.catalogTable td:nth-child(4) {
    width: 10%;
}

.catalogTable th:nth-child(1), .catalogTable th:nth-child(2) {
    text-align: left;
}

.catalogTable th:nth-child(3) {
    text-align: right;
}

.catalogTable td:nth-child(3), .catalogTable td:last-child {
    text-align: right;
}

.checkoutTable {
    width: 100%;
}

.checkoutTable th:nth-child(1) {
    text-align: left;
}

.checkoutTable th:nth-child(2), .checkoutTable th:nth-child(3) {
    text-align: right;
}

.checkoutTable td:nth-child(1), .checkoutTable td:nth-child(2) {
    width: 45%;
}

.checkoutTable td:nth-child(3) {
    width: 10%;
}

.checkoutTable td:nth-child(2), .checkoutTable td:last-child {
    text-align: right;
}

.checkoutButton {
    float: right;
}

.purchase {
    float: right;
    margin-right: 3px;
}

.loggedInAs {
    float: left;
}

.webshopG13 {
    float: right;
}

.customerForm {
    border-spacing: 0;
    margin-bottom: 10px;
}

.customerForm tr {
    border-top: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
    color: #666B85;
    font-size: 16px;
    font-weight: normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
    border-spacing: 0;
    margin-top: 10px;
}

.customerForm tr:first-child {
    border-top: none;
}

.customerForm tr:last-child {
    border-bottom: none;
}

.customerForm tr:nth-child(odd) td {
    background: #EBEBEB;
}

.customerForm input {
    border: none;
    background: #C0D9E9;
    border-radius: 10px;
    padding-left: 10px;
}

.customerForm input:focus {
    outline: none;
}

.customerForm tr:last-child td:first-child {
    border-bottom-left-radius: 3px;
}

.customerForm tr:last-child td:last-child {
    border-bottom-right-radius: 3px;
}

.customerForm td {
    background: #FFFFFF;
    padding: 20px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 18px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-spacing: 0;
}

.customerForm td:first-child {
    text-align: left;
}

.customerForm td:last-child {
    border-right: 0px;
    text-align: left;
}

.fancytext {
    color: #666B85;
    font-size: 16px;
    font-weight: normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

.myButton {
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background-color:#ededed;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#777777;
    font-family: Arial, serif;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
    background-color:#dfdfdf;
}
.myButton:active {
    position:relative;
    top:1px;
}